@font-face {
    font-family: "MTD-Red-Bright";
    src: url(../images/destination/banner-font.ttf);
    font-weight: normal;
    font-style: normal;
}

:root {
    --global-font: "MTD-Red-Bright";
    --global-font-color: #333;
}

/* first: banner */

.destination__banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-image: url(../images/destination/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner__caption {
    color: var(--primary-font-color);
    font-family: var(--global-font);
    font-size: min(10em, 15vw);
    text-shadow: 1px 1px 12px black;
}

/* second: menu and place*/

.destination__main {
    background-image: url(../images/destination/under.png);
    background-size: cover;
    margin: 3vh auto;
}

.destination__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 0;
}

.des-menu__title {
    color: var(--primary-font-color);
    font-size: 3em;
    font-weight: 600;
}

.des-menu__detail {
    color: var(--primary-font-color);
    text-align: center;
    line-height: 1.5;
}

.des-menu__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.break {
    flex-basis: 100vw;
    height: 0;
}

.menu-list__item {
    height: 30vh;
    aspect-ratio: 1/1;
    margin: 1em;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: scale 0.5s;
}

.item__thumbnail {
    height: 100%;
    filter: grayscale(70%);
    transition: all 0.5s;
}

.item__name {
    position: absolute;
    color: var(--primary-font-color);
    font-family: var(--global-font);
    font-size: 3em;
    text-align: center;
    text-shadow: 1px 1px 5px black;
}

.menu-list__item:hover > .item__thumbnail {
    filter: none;
}

.menu-list__item:hover {
    cursor: pointer;
    scale: 1.05;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.3);
}

.destination__place {
    position: fixed;
    top: 0;
    z-index: 99;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    scale: 0;
}

.destination__place:hover {
    cursor: pointer;
}

.des__place-container {
    display: flex;
    position: fixed;
    top: 15vh;
    left: 10vw;
    height: 70vh;
    z-index: 100;
    width: 80vw;
    scale: 0;
    transition: scale 0.3s;
}

.place-container__left {
    background-image: url(../images/destination/text-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 35%;

}

.place-container__right {
    height: 100%;
    width: 75%;
    background-size: cover;
    background-position: center;
}



.left__place-name,
.left__place-detail,
.left__place-address {
    margin: auto 1vw;
    color: var(--global-font-color);
    line-height: 1.5;
    font-size: 1em;
}

.left__place-name {
    margin-top: 3vh;
}

.left__place-name {
    font-size: 1.2em;
    font-weight: 600;
}

.left__place-detail {
    text-align: justify;
}

.left__place-address {
    margin-top: 1vh;
}

/* break */

.destination__img-break {
    aspect-ratio: 4/1;
    margin: 0 10em;
    background-image: url(../images/destination/page-break.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

/* third: over view */

.destination__over-view {
    width: 100%;
    padding: 2vh auto;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

#to-margin-left {
    margin-left: 10em;
}

#to-margin-right {
    margin-right: 10em;
}

.over-view__content {
    display: flex;
    flex-direction: column;
    color: var(--primary-font-color);
    text-align: justify;
    line-height: 1.5;
    margin: 2em 1em;
}

.content__title {
    font-size: 1.2em;
    font-weight: 600;
}

.content__detail {
    font-size: 1em;
}

/* nearby - places */

.nearby-places__container {
    width: 100%;
    padding: 2vh;
    margin: 2vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/destination/nearby-places/nearby-place-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.np-container__title {
    color: var(--primary-color);
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 2vh;
}

.np-container__grid {
    display: grid;
    grid-template-columns: 0.45fr 0.45fr 0.45fr;
    grid-template-rows: 0.45fr 0.45fr;
}

.grid__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px 3px 0;
    overflow: hidden;
}

.grid__item > p {
    font-size: 4em;
    cursor: default;
}

.grid__item--1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.grid__item--2 {
    grid-column: 3;
    grid-row: 1 / 2;
}

.grid__item--3 {    
    grid-column: 1 / 2;
    grid-row: 2;
}

.grid__item--4 {
    grid-column: 2 / 4;
}

.grid__item:hover > .grid__item--thumbnail {
    scale: 1.1;
    filter: none;
}

@media (max-width: 1024px) {
    .destination__banner {
        height: 94vh;
        background-position: 20% 0%;
    }

    .destination__main {
        background: #fff;
    }

    .destination__menu {
        display: none;
    }

    .destination__place {
        scale: 0 !important;
    }

    .des__place-container {
        position: static;
        flex-direction: column;
        width: 90vw;
        height: auto;
        margin: 1vh auto;
        scale: 1 !important;
        transition: none;
    }

    .place-container__left {
        background: #fff;
        width: 100%;
        height: auto;
    }
    
    .place-container__right {
        width: 100%;
        aspect-ratio: 16/9;
    }
    
    .left__place-name,
    .left__place-detail,
    .left__place-address {
        color: var(--global-font-color);
        margin: 0;
        font-size: 0.9em;
    }

    .left__place-name {
        font-size: 1.1em;
    }

    .destination__img-break {
        width: 100%;
        margin: 0 auto;
    }
     
    .destination__over-view {
        flex-direction: column;
        width: 90vw;
        margin: 1vh auto;
    }

    #to-margin-left,
    #to-margin-right {
        margin: 0;
    }

    .content__title,
    .content__detail {
        color: var(--global-font-color);
        font-size: 0.9em;
    }

    .content__title {
        font-size: 1.1em;
    }
   
    .nearby-places__container {
        background: #fff;
        width: 90vw;
        margin: 1vh auto;
        padding: 0;
    }

    .np-container__title {
        margin: 0;
        color: var(--global-font-color);
        font-size: 1.3em;
        line-height: 1.5;
    }

    .np-container__grid {
        display: flex;
        /* flex-direction: column; */
    }

    .grid__item--thumbnail {
        width: 100%;
        border: none;
        filter: none;
    }

    .grid__item {
        margin: 0 2px;
    }

    .grid__item > p {
        font-size: 3em;
    }

    .grid__item:hover > .grid__item--thumbnail {
        scale: none;
        filter: none;
    }
}

@media (max-width: 768px) {
    .np-container__grid {
        flex-direction: column;
    }
    .grid__item {
        margin: 3px 0;
    }
}