:root {
    --primary-color: #FC4100;
    --second-color: #FFC55A;
    --third-color: #00215E;
    --four-color: #2C4E80;
    --primary-font-color: #fff;
    --second-font-color: #009F75;

    --xl: 1200px;
    --lg: 1024px;
    --md: 768px;
    --sm: 480px;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.page {
    display: grid;
    grid-template:
        'header'
        'main'
        'footer';
}

.page-header {
    grid-area: header;
    position: sticky;
    top: 0;
}

.page-main {
    grid-area: main;
}

.page-footer {
    grid-area: footer;
}