<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/page.css">
    <title>Can Tho Travel</title>
</head>

<body>
    <footer class="footer">
        <div class="footer__top-content">
            <div class="footer__logo">
                <img src="../images/logo.png" alt="">
            </div>
            <div class="footer__sign-up">
                <h4>Sign up for our newsletter</h4>
                <p>Receive new travel stories from Can Tho once a month in your inbox.</p>
                <input type="email" placeholder="Your email">
                <button>SIGN UP</button>
            </div>
            <div class="footer__contact">
                <h4>Follow us on</h4>
                <div class="footer__contact-icon">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-tiktok"></i>
                    <i class="fa-brands fa-pinterest"></i>
                </div>
                <div class="footer__contact-description">
                    <p>Bring customers perfect journeys, a place to satisfy their passion for enjoyment with the best
                        quality services, the
                        most attentive service style, becoming a place where tourists trust and are always satisfied
                        after
                        each trip.</p>
                </div>
            </div>
        </div>
        <div class="footer__bottom-content">
            <p>© Copyright 2024 Can Tho Travel, All rights reserved.</p>
        </div>
    </footer>
</body>

</html>